.fullArticle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
}

.fullArticle img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.fullArticle table {

    position: relative;
    margin: 1em auto;
    width: 50%;
}

.fullArticle p {
    width: 40%;
    margin: 1em auto; 
}

.odd-rows {
    background: #555;
}

.backButton {
    margin-left: 1em;
    margin-top: 1em; 
    background-color: #444;
    color: white;
    border-radius: 0.75em;
    padding: 0.25em 0.75em;
    z-index: 3;
    border: 1px solid white;
    transition: 0.3s;

}

.backButton:hover {
    transition: 0.3s;
    box-shadow: black 3px 2px 2px 1px;
    cursor: pointer;

}

@media (max-width: 768px) {

    .fullArticle p {
        width: 90%;
    }

}