
.article-card {
  background-color: #42414c;
  color: #e0e0e0;
  border-radius: 0.75em;
  overflow: hidden;
  margin: 1em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.3);
  max-width: 25em;
  font-family: Arial, sans-serif;
}


.article-image-container {
  position: relative;
  width: 100%;
  height: 11.25em;
  overflow: hidden;
}

.article-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.75em 0.75em 0 0;
}


.article-topic {

  background-color: rgba(0, 0, 0, 0.6); /*Now I know Dr. Fitz didnt have this but we are having white on white images sometimes! And we cannot see the tag! */
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  padding: 0.25em; /* To make more prettyer with rounded corners + padding */
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  color: #ffffff;
  font-size: 0.9em;
  font-weight: bold;
  font-family: Arial, sans-serif;
}


.article-content {
  padding: 1em;
}


.article-url a {
  color: #1e90ff;
  text-decoration: none;
  font-size: 0.9em;
}

.article-url a:hover {
  text-decoration: underline;
}


.article-title {
  font-size: 1.2em;
  margin-top: 0.5em;
  color: #f1f1f1;
}


.article-date {
  color: #cfcfcf;
  font-size: 0.8em;
  margin: 0.25em 0;
}


.article-excerpt {
  color: #b3b3b3;
  font-size: 0.95em;
  margin-top: 0.5em;
}

